/* General Clases */
section {
  position: absolute;
  border-style: solid;
  border-width: 0.2px;
  border-radius: 5px;
  padding: 10px;
}

.tab{
  overflow: auto;
  height: 1000px;
  position: relative;
  background-color: #A49F9E;  
}

.label{
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.table{
  margin-top: 0px !important;
}

/* #product */

#products {
  float: left;
  height: 500px;
  width: 900px;
}

#productVersion {
  left: 924px;
  width: 550px;
  height: 245px;
}

#productFunction {
  left: 924px;
  top: 269px;
  width: 550px;
  height: 245px;
}

#productOffices {
  top: 524px;
  width: 284px;
  height: 245px;
}

#productCurrencies {
  top: 524px;
  left: 308px;
  width: 284px;
  height: 245px;
}

#productOutput {
  top: 524px;
  left: 602px;
  width: 284px;
  height: 245px;
}

#productCalculations {
  top: 524px;
  left: 896px;
  width: 284px;
  height: 245px;
}

#productHprod {
  top: 524px;
  left: 1190px;
  width: 284px;
  height: 245px;
}





/* -------- */

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
