/* General Clases */
.table {
  position: absolute;
  margin: 10px;
}

label{
  font-size: 15px;
  font-weight: bold;
}

.tableRow{
  height: 10px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.test{
  border: 1px solid black;
}

/* #product */

.product {
  position: relative;
}

#products {
  width: 900px;
  height: 500px;
}

#productVersion {
  left: 910px;
  width: 550px;
  height: 245px;
}

#productFunction {
  left: 910px;
  top: 255px;
  width: 550px;
  height: 245px;
}

#productOffices {
  top: 510px;
  width: 284px;
  height: 245px;
}

#productCurrencies {
  top: 510px;
  left: 294px;
  width: 284px;
  height: 245px;
}

#productOutput {
  top: 510px;
  left: 588px;
  width: 284px;
  height: 245px;
}

#productCalculations {
  top: 510px;
  left: 882px;
  width: 284px;
  height: 245px;
}

#productHprod {
  top: 510px;
  left: 1176px;
  width: 284px;
  height: 245px;
}





/* -------- */

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
